# EditorConfig is awesome: http://EditorConfig.org

# top-most EditorConfig file
root = true

# Default settings:
# A newline ending every file
# Use 2 spaces as indentation
# Trim trailing whitespace
[*]
indent_style = space
insert_final_newline = true
trim_trailing_whitespace = true
charset = utf-8
end_of_line = lf

[*.js]
indent_size = 2

[*.cs]
indent_size = 4
end_of_line = crlf

# Xml project files
[*.{csproj}]
indent_size = 2
end_of_line = crlf

# Xml files
[*.{xml,stylecop,resx,ruleset}]
indent_size = 2
end_of_line = crlf

# XML config files
[*.{msbuild,props,targets,ruleset,config,nuspec}]
indent_size = 2
end_of_line = crlf

# Shell scripts
[*.{cmd, bat, ps1}]
end_of_line = crlf
