[submodule "RNTester"]
	path = current/RNTester
	url = https://github.com/microsoft/react-native-windows
[submodule "Yoga"]
	path = current/Yoga
	url = https://github.com/ReactWindows/yoga
[submodule "vnext/Modules/boostorg/beast"]
	path = vnext/Modules/boostorg/beast
	url = https://github.com/boostorg/beast.git
[submodule "vnext/Modules/boostorg/system"]
	path = vnext/Modules/boostorg/system
	url = https://github.com/boostorg/system.git
[submodule "vnext/Modules/boostorg/asio"]
	path = vnext/Modules/boostorg/asio
	url = https://github.com/boostorg/asio.git
[submodule "vnext/Modules/boostorg/utility"]
	path = vnext/Modules/boostorg/utility
	url = https://github.com/boostorg/utility.git
[submodule "vnext/Modules/boostorg/config"]
	path = vnext/Modules/boostorg/config
	url = https://github.com/boostorg/config.git
[submodule "vnext/Modules/boostorg/core"]
	path = vnext/Modules/boostorg/core
	url = https://github.com/boostorg/core.git
