footer.nav-footer {
  background-color: $darker;
}

@media only screen and (min-width: 741px) {
  .nav-footer .sitemap {
    display: grid;
    grid-template-columns: 1fr 1.33fr 1fr;
    justify-items: center;
    max-width: 900px;
  }
}

.nav-footer .sitemap h5,
.nav-footer .sitemap h5 a {
  color: #999;
  text-transform: uppercase;
  margin: 0;
}

.nav-footer .sitemap a {
  color: white;
  margin: 2px 0;
  padding: 3px 0;
}

.nav-footer .sitemap a:hover {
  color: $brand;
}

footer.nav-footer .nav-home img {
  height: auto;
  width: 34px;
}

.nav-footer .fbOpenSource {
  opacity: 0.5;
}

footer.nav-footer .copyright {
  color: #999;
}

/* Docs Rating Box with doc-rating.js */

.docs-rating_container {
  background-color: rgba(5, 165, 209, 0.25);
  color: #001217;
  padding: 15px 30px 15px 27px;
}

.docs-rating_container svg {
  fill: rgba(5, 165, 209, 1);
  height: 1.5em;
  width: 1.5em;
  margin: 0 0.15em;
}

.docs-rating_container svg:hover,
.docs-rating_container svg:focus {
  cursor: pointer;
  fill: #001217;
}

.docs-rating_container .i_thumbsup {
  fill: green;
  transform: translateY(0.25em);
}

.docs-rating_container .i_thumbsdown {
  fill: red;
  transform: scale(-1, -1) translateY(-0.25em);
}
