<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageRestore>
    <add key="enabled" value="True" />
    <add key="automatic" value="True" />
  </packageRestore>
  <packageSources>
    <clear />
    <!-- Warning: Never add more NuGet feeds, this project must only rely on the NuGet.org feed. -->
    <add key="NuGet Gallery" value="https://api.nuget.org/v3/index.json" />
  </packageSources>
</configuration>
