<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageRestore>
    <add key="enabled" value="True" />
    <add key="automatic" value="True" />
  </packageRestore>
  <packageSources>
    <clear />
    <!-- Warning: Never add more NuGet feeds, to be compliant this repo must only rely on this single ADO feed. -->
    <add key="react-native" value="https://pkgs.dev.azure.com/ms/react-native/_packaging/react-native-public/nuget/v3/index.json" />
    <!-- Remove (comment out) the nuget.org feed once our ADO feed is configured correctly. See https://github.com/microsoft/react-native-windows/issues/11557 -->
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
  </packageSources>
</configuration>
