<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageRestore>
    <add key="enabled" value="True" />
    <add key="automatic" value="True" />
  </packageRestore>
  <!-- Note: Do not specify any NuGet feeds in this file, everything is available on the fallback NuGet.org. -->
</configuration>
