/* Versions Page */

table.versions {
  width: 60%;
  border: 0;
  border-collapse: separate;
}

table.versions tr th {
  width: 20%;
}

table.versions td,
table.versions th {
  padding: 2px 5px;
}

table.versions tr th,
table.versions tr td {
  border: 0;
  width: 33%;
  padding: 8px;
}

table.versions td a {
  text-decoration: underline;
}

table.versions td a:hover {
  text-decoration: none;
}
