<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="boost" version="1.68.0.0" targetFramework="native" />
  <package id="boost_date_time-vc141" version="1.68.0.0" targetFramework="native" />
  <package id="ReactNative.Hermes.Windows" version="0.1.1" targetFramework="native" Condition="'$(OSS_RN)' != 'true' AND '$(USE_HERMES)' == 'true'" />
  <package id="ReactNative.V8JSI.Windows" version="0.1.3" targetFramework="native" Condition="'$(OSS_RN)' != 'true' AND '$(USE_V8)' == 'true'"/>
</packages>