#include <winver.h>

#define VER_FILEVERSION 0,59,0,96
#define VER_FILEVERSION_STR "0.59.0-vnext.96"

#ifndef DEBUG
#define VER_DEBUG                   0
#else
#define VER_DEBUG                   VS_FF_DEBUG
#endif

VS_VERSION_INFO VERSIONINFO
FILEVERSION     VER_FILEVERSION
PRODUCTVERSION  VER_FILEVERSION
FILEFLAGSMASK   (VS_FF_DEBUG)
FILEFLAGS(VER_DEBUG)
FILEOS          VOS__WINDOWS32
FILETYPE        VFT_DLL
FILESUBTYPE     VFT2_UNKNOWN
BEGIN
BLOCK "StringFileInfo"
BEGIN
BLOCK "040904E4"
BEGIN
VALUE "CompanyName", "Microsoft"
VALUE "FileDescription", "React-Native-Windows"
VALUE "FileVersion", VER_FILEVERSION_STR
VALUE "InternalName", "react.uwp.dll"
VALUE "LegalCopyright", "(c) Microsoft Corporation. All rights reserved."
VALUE "OriginalFilename", "react.uwp.dll"
VALUE "ProductName", "React-Native-Windows"
VALUE "ProductVersion", VER_FILEVERSION_STR
END
END

BLOCK "VarFileInfo"
BEGIN
/* The following line should only be modified for localized versions.     */
/* It consists of any number of WORD,WORD pairs, with each pair           */
/* describing a language,codepage combination supported by the file.      */
/*                                                                        */
/* For example, a file might have values "0x409,1252" indicating that it  */
/* supports English language (0x409) in the Windows ANSI codepage (1252). */

VALUE "Translation", 0x409, 1252

END
END
