<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="fps_debug" value="false" />
    <add key="debug_http_host" value="false" />
    <add key="js_dev_mode_debug" value="false" />
    <add key="animations_debug" value="false" />
    <add key="js_minify_debug" value="false" />
    <add key="reload_on_js_change" value="false" />
    <add key="hot_module_replacement" value="false" />
    <add key="RCTI18nUtil_allowRTL" value="false" />
    <add key="RCTI18nUtil_forceRTL" value="false" />
  </appSettings>
</configuration>
