<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Facebook.Yoga" version="1.2.0-pre1" targetFramework="net451" />
  <package id="Microsoft.ChakraCore" version="1.4.1" targetFramework="net451" developmentDependency="true" />
  <package id="Newtonsoft.Json" version="9.0.1" targetFramework="net451" />
  <package id="OpenCover" version="4.6.519" targetFramework="net451" />
  <package id="PCLStorage" version="1.0.2" targetFramework="net451" />
  <package id="SocketMessaging" version="1.1.6002.26530" targetFramework="net451" />
  <package id="System.ComponentModel" version="4.0.1" targetFramework="net451" />
  <package id="System.Diagnostics.Contracts" version="4.0.1" targetFramework="net451" />
  <package id="System.Dynamic.Runtime" version="4.0.11" targetFramework="net451" />
  <package id="System.Reactive" version="4.0.0-preview00001" targetFramework="net451" />
  <package id="System.Reactive.Compatibility" version="4.0.0-preview00001" targetFramework="net451" />
  <package id="System.Reactive.Core" version="4.0.0-preview00001" targetFramework="net451" />
  <package id="System.Reactive.Experimental" version="4.0.0-preview00001" targetFramework="net451" />
  <package id="System.Reactive.Interfaces" version="4.0.0-preview00001" targetFramework="net451" />
  <package id="System.Reactive.Linq" version="4.0.0-preview00001" targetFramework="net451" />
  <package id="System.Reactive.PlatformServices" version="4.0.0-preview00001" targetFramework="net451" />
  <package id="System.Reactive.Providers" version="4.0.0-preview00001" targetFramework="net451" />
  <package id="System.Reactive.Runtime.Remoting" version="4.0.0-preview00001" targetFramework="net451" />
  <package id="System.Reactive.Windows.Forms" version="4.0.0-preview00001" targetFramework="net451" />
  <package id="System.Reactive.Windows.Threading" version="4.0.0-preview00001" targetFramework="net451" />
  <package id="WebSocketSharp" version="1.0.3-rc11" targetFramework="net451" />
  <package id="WindowsBase" version="4.6.1055.0" targetFramework="net451" />
</packages>
