<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Facebook.CSSLayout" version="1.1.1" targetFramework="net46" />
  <package id="Newtonsoft.Json" version="9.0.1" targetFramework="net46" />
  <package id="Postal.NET" version="1.0.0.1" targetFramework="net46" />
  <package id="System.Reactive" version="3.0.0" targetFramework="net46" />
  <package id="System.Reactive.Core" version="3.0.0" targetFramework="net46" />
  <package id="System.Reactive.Interfaces" version="3.0.0" targetFramework="net46" />
  <package id="System.Reactive.Linq" version="3.0.0" targetFramework="net46" />
  <package id="System.Reactive.PlatformServices" version="3.0.0" targetFramework="net46" />
  <package id="System.Reactive.Windows.Threading" version="3.0.0" targetFramework="net46" />
  <package id="WindowsBase" version="4.6.1055.0" targetFramework="net46" />
</packages>