<?xml version="1.0" encoding="utf-8"?>
<!-- Copyright (c) Microsoft Corporation. All rights reserved. Licensed under the MIT License. See LICENSE in the project root for license information. -->
<packages>
  <package id="boost" version="1.68.0.0" targetFramework="native" />
  <package id="Microsoft.Windows.CppWinRT" version="2.0.190425.5" targetFramework="native" />
</packages>
