<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Facebook.Yoga" version="1.5.0-pre1" targetFramework="net46" />
  <package id="Newtonsoft.Json" version="10.0.3" targetFramework="net46" />
  <package id="NMock3" version="3.5.44" targetFramework="net46" />
  <package id="NUnit" version="3.9.0" targetFramework="net46" />
  <package id="NUnit.ConsoleRunner" version="3.7.0" targetFramework="net46" />
  <package id="NUnit3TestAdapter" version="3.9.0" targetFramework="net46" />
  <package id="PCLStorage" version="1.0.2" targetFramework="net46" />
  <package id="SocketMessaging" version="1.1.6002.26530" targetFramework="net46" />
  <package id="System.Reactive" version="4.1.5" targetFramework="net46" />
  <package id="System.Reactive.Core" version="4.1.5" targetFramework="net46" />
  <package id="System.Reactive.Interfaces" version="4.1.5" targetFramework="net46" />
  <package id="System.Reactive.Linq" version="4.1.5" targetFramework="net46" />
  <package id="System.Reactive.PlatformServices" version="4.1.5" targetFramework="net46" />
  <package id="System.Reactive.Windows.Threading" version="4.1.5" targetFramework="net46" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.5.2" targetFramework="net46" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.2" targetFramework="net46" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net46" />
  <package id="WindowsBase" version="4.6.1055.0" targetFramework="net46" />
</packages>