# EditorConfig is awesome: http://EditorConfig.org

# top-most EditorConfig file
root = false

# Unix-style newlines with a newline ending every file
[*]
end_of_line = lf
insert_final_newline = true
indent_style = space
indent_size = 2

[*.{c,cpp,h,hpp,sln}]
end_of_line = crlf

# Xml project files
[*.{config,csproj,njsproj,props,targets,vcxitems,vcxproj,vcxproj.filters}]
end_of_line = crlf
insert_final_newline = false

[*.ps1]
indent_style = tab
indent_size = 4
