/dist
/flow
/index.*
/IntegrationTests
/jest
/lib
/local-cli/lib
/local-cli/lib-commonjs
/packages
/Microsoft.ReactNative.IntegrationTests/SyntaxError.js
/ReactCopies
/RNTester.d.ts
/src-win/rntypes
/rntypes
/target
/flow-typed