<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <config>
    <add key="repositoryPath" value="packages" />
  </config>
  <packageSources>
    <add key="microsoft-reactnative-public-dev" value="https://pkgs.dev.azure.com/ms/_packaging/react-native-windows-dev/nuget/v3/index.json" />
  </packageSources>
</configuration>
