<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="boost" version="1.68.0.0" targetFramework="native" />
  <package id="Microsoft.WinUI" version="3.0.0-alpha.200210.0" targetFramework="native"/>
  <package id="Microsoft.Web.WebView2" version="0.8.355" targetFramework="native"/>
  <package id="Microsoft.Windows.CppWinRT" version="2.0.200316.3" targetFramework="native" />
</packages>