<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="boost" version="1.72.0.0" targetFramework="native" />
  <package id="Microsoft.Build.Tasks.Git" version="1.0.0" targetFramework="native" developmentDependency="true" />
  <package id="Microsoft.SourceLink.Common" version="1.0.0" targetFramework="native" developmentDependency="true" />
  <package id="Microsoft.SourceLink.GitHub" version="1.0.0" targetFramework="native" developmentDependency="true" />
  <package id="Microsoft.UI.Xaml" version="2.5.0" targetFramework="native" />
  <package id="Microsoft.Windows.CppWinRT" version="2.0.200615.7" targetFramework="native" />
  <package id="Microsoft.WinUI" version="3.0.0-preview3.201113.0" targetFramework="native"/>
  <!-- package id="ReactNative.Hermes.Windows" version="0.7.2" targetFramework="native" / -->
  <!-- package id="ReactNative.V8Jsi.Windows.UWP" version="0.64.8" targetFramework="native" / -->
</packages>
