# EditorConfig is awesome: http://EditorConfig.org

# top-most EditorConfig file
root = false

# Unix-style newlines with a newline ending every file
[*]
end_of_line = lf
insert_final_newline = true
indent_style = space
indent_size = 2

# Xml project files
[*.{csproj,vcxproj,pssproj,vcxproj.filters,targets,props}]
end_of_line = crlf
insert_final_newline = false

[*.ps1]
indent_style = tab
indent_size = 4
