.vs
.vscode
build
Chakra
ChakraCoreShim
Desktop
Desktop.Dll
Desktop.IntegrationTests
Desktop.UnitTests
FollyWin32
IntegrationTests
IntegrationTestScripts
JSSerializer
packages
PropertySheets
ReactWin32SandboxSample
Scripts
src
target
Universal.IntegrationTests
Universal.SampleApp
Universal.UnitTests
win32
WindowsSampleCSharpApp
NuGet.Config
package-deps.json
react-native-windows.build.log
ReactWin32.nuspec
ReactWindows-CopyToStaging.bat
ReactWindows-TestNuspec.bat
ReactWindows.nuspec
ReactWindows.sln
ReactWindows-UWP.sln
sources.inc