.vs
build
Chakra
ChakraCoreShim
Desktop
Desktop.Dll
Desktop.IntegrationTests
Desktop.UnitTests
Folly
FollyWin32
include
IntegrationTests
IntegrationTestScripts
JSSerializer
packages
PropertySheets
ReactCommon
ReactUWP
ReactWin32SandboxSample
ReactWindowsCore
Scripts
Shared
src
stubs
target
Universal.IntegrationTests
Universal.SampleApp
Universal.UnitTests
win32
WindowsSampleCSharpApp
NuGet.Config
package-deps.json
react-native-win.build.log
ReactWin32.nuspec
ReactWindows-CopyToStaging.bat
ReactWindows-TestNuspec.bat
ReactWindows.nuspec
ReactWindows.sln
sources.inc