<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ChakraCore.Debugger" version="0.0.0.44" targetFramework="native" />
  <package id="Microsoft.ChakraCore.vc140" version="1.11.20" targetFramework="native" developmentDependency="true" />
  <package id="ReactWindows.ChakraCore.ARM64" version="1.11.20" targetFramework="native" developmentDependency="true" />
</packages>