<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="boost" version="1.68.0.0" targetFramework="native" />
  <package id="boost_date_time-vc141" version="1.68.0.0" targetFramework="native" />
  <package id="ChakraCore.Debugger" version="0.0.0.36" targetFramework="native" />
  <package id="Microsoft.ChakraCore.vc140" version="1.11.10" targetFramework="native" developmentDependency="true" />
  <package id="ReactWindows.OpenSSL.StdCall.Static" version="1.0.2-p.2" targetFramework="native" />
</packages>
