<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="boost" version="1.68.0.0" targetFramework="native" />
  <package id="boost_date_time-vc141" version="1.68.0.0" targetFramework="native" />
  <package id="Microsoft.ChakraCore.Debugger" version="0.0.0.33" targetFramework="native" />
  <package id="Microsoft.ChakraCore.vc140" version="1.11.8" targetFramework="native" developmentDependency="true" />
  <package id="OpenSSL.Windows-1.0.2n" version="0.0.1" targetFramework="native" />
</packages>